
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Varga Agnes SuperDev 2021</p>
  </div>
</div>


<script src="js/jquery.js" charset="utf-8"></script>
<script src="js/blog.js" charset="utf-8"></script>
</body>
</html
