<%- include('partials/header'); -%>
<h1>Contact</h1>
<p><%= contactContent %></p>
<h4><a href="https://github.com/aghyv/Blog">Click here if you wish to see the code on GitHub</a></h4>
<%- include('partials/footer'); -%>
